.remove-waypoint-button{
    border: none;
}

#buttonIcon {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
    pointer-events:none;
  }

/* For Mobile */
@media screen and (max-width: 540px) {
    #buttonIcon {
        position: relative;
        z-index: 1;
        left: -28px;
        color: #7B7B7B;
        cursor: pointer;
        width: 0;
        height: 30px;
        top: -15px;
        pointer-events:none;
      }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    #buttonIcon {
        position: relative;
        z-index: 1;
        left: -28px;
        color: #7B7B7B;
        cursor: pointer;
        width: 0;
        height: 30px;
        top: -15px;
        pointer-events:none;
      }
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
  }
