<!--Developped by Thomas McDonald in collaboration with Mathys Marcouiller-->
<!--Github: https://github.com/ThomasMcDonald904 -->

<!DOCTYPE html>
<html lang="en" >
<head>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Path</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body class="container is-max-desktop">
    <h1 class="title is-2">Smart Path</h1>
    <form method="post" action="route_submit" style="display: flex; flex-direction: column;">
        <div>
                     <input type="text" id="new_waypoint">
          <button onclick="addNewWaypoint()" button btn-primary" type="button" id="add-new-waypoint">add it!</button>
        </div>
        <div style="background: gold; min-height: 4rem;" id="waypoint-container" class="is-flex is-flex-direction-column">
        </div>
        <input type="submit" name="Enter">

    </form>
    <div id="address_list_box">
        <ul id="address_list">
            <li>904 rue Arthur-McNicoll</li>
        </ul>
    </div>
    <script>
     let tomWaypointCounter = 0;
        const addNewWaypoint = (event) => {
            const $elem = $('#new_waypoint');
            const $container = $('#waypoint-container');
            tomWaypointCounter += 1;
            $container.append(`<input type="text" name="waypoint[${tomWaypointCounter}]" value="${$elem.val()}" readonly/>`);
            $elem.val('');
        };
    </script>
</body>
</html>
